// home.less

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@cerise: #e83d84;
@offblack: #212121;
@blue: #6e838f;

body {
  background: #fafafa;
}

#methone-container-replace::shadow #methone_header {
  background: @cerise !important;
}

.clear { clear: both; }

#hello_tomorrow {
  background: #ec5f99;
  line-height: 175%;
  padding: 20px;
  color: #fff;
  font-weight: 100;
  strong {
    font-weight: 900;
  }
  a {
    color: #fff;
    font-weight: 900;
  }
}

header#home {
  background: #333 url("/static/gfx/bg.jpg") bottom center;
  background-size: cover;
  min-height: 500px;
  text-align: center;

  #shield {
    padding-top: 60px;
    padding-bottom: 35px;

    img {
      margin: 0 auto;
      max-width: 300px;
    }
  }

  #home_logo {
    padding-bottom: 50px;

    small {
      color: #fff;
      font-size: 16px;
      font-weight: 100;
    }

    h1 {
      margin: 0;
      padding: 15px 0;
      display: block;
      font-weight: 900;
      color: white;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      font-size: 60px;
    }
  }
}

#home_intro, #home_news {

  &, p, h3 {
    font-size: 17px;
    line-height: 170%;
  }

  h3 {
    font-weight: 900;
  }

  p {
    font-weight: 400;
  }
}

#home_intro {
  h3 {
    color: @cerise;
    line-height: 190% !important;
  }
  p {
    color: @blue;
    line-height: 190% !important;
  }
}

#home_news {

  .news_item {
    display: block;
    padding-top: 1em;
    max-height: 80px;
    overflow: hidden;
    color: @blue !important;

    h4 {
      font-weight: 900;
      margin: 0;
      padding: 0;
      display: block;
      max-height: 30px;
      overflow: hidden;
    }

    .news_item_meta {
      display: inline-block;
      margin-right: 15px;
      font-weight: 100;
      font-size: 15px;
      i {
        display: inline-block;
        padding-right: 5px;
      }
    }
  }

  #sticky {
    h4 {
      padding: 0;
      margin: 1em 0 0;
      color: @blue;
    }
    p {
      font-size: 14px;
      color: @blue;
    }
  }
}

h2#sections_intro {
  text-transform: uppercase;
  color: @blue;
  font-weight: 100;
  border: none;
  margin: 0;
  padding: 25px 0 40px;
  font-size: 35px;
  text-align: center;

  span {
    font-weight: 900;
    color: @cerise;
  }
}

#home_sections {
  .home_section_icon {
    color: @cerise;
    font-size: 80px;
    text-align: center;
  }

  :first-child {
    .home_section_icon i:before {
      content: "\f19d";
    }
  }
  :nth-child(2) {
    .home_section_icon i:before {
      content: "\f004";
    }
  }
  :nth-child(3) {
    .home_section_icon i:before {
      content: "\f1ad";
    }
  }

  h2 {
    text-align: center;
  }

  p {
    font-size: 15px;
    line-height: 185%;
    text-align: justify;
    display: block;
  }
}

a.action {
  display: table;
  background: @cerise;
  border-bottom: 4px solid darken(@cerise, 15);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  padding: 7px 15px 3px;
  color: #fff !important;
  text-align: center;
  margin: 20px auto 0;
}

#footer {
  background: #333333;
  margin: 50px -50px -50px;
  padding-bottom: 0;
  height: 300px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, .05);

  #contact {
    text-align: center;
    p {
      color: #fff;
    }
  }

  #map {
    padding: 0;
    height: 300px;
    overflow: hidden;
  }
}